{% extends "base.html" %} {% block content %} {% load static %}
<div class = "container">
    <div class="main-header">
        <img src="/static/img/twitter_clone_logo.png" class="logo">
        <h1>Edit</h1>
    </div>
</div>
<section class = "content">
    <section class = "post_form">
        <div class = 'logo'>
            <img src = "{% static 'img/user-img.png' %}">
        </div>
        <form action = '/editpost/{{post.id}}/' method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <input type = 'text' name = 'name' placeholder= 'Name' value="{{post.name}}" id="name" required>
            <textarea type="text" name="body" value="{{post.body}}" placeholder="tweet here" required></textarea>
            {% if post.image.url %}
            <img src="{{post.image.url}}" class="body-image" alt="">
            {% endif %}
            <br>
                <input type="file" value="choose file" name="image"/>

                <div class="buttons">
                    <a href="/" id="cancel">Cancel</a>
                    <input type="submit" value="Update" id="update">
                </div>
        </form>
    </section>
 
    <script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}